<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ElCorteFinlandes.Properties.Settings.ElCorteFinlandesConnectionString"
            connectionString="Data Source=T4IPC03\SQLEXPRESS;Initial Catalog=ElCorteFinlandes;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ElCorteFinlandes.Properties.Settings.ElCorteFinlandesConnectionString1"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=ElCorteFinlandes;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>